{% include "header.html" %}

<div class="g">
<div class="g-row">

{% include "menu.html" %}


<h3>Новое названия модуля</h3>


<center>
    <form action="" method="post" class="forms">{% csrf_token %}
	<fieldset>
	    <legend>Создание</legend>
	    <div class="f-row">
	    <label>Название</label>
		<div class="f-input"><input type="text" name="name" value="{{ name }}" /></div>
	    </div><!-- f-row -->
	</fieldset>
	<div class="f-actions"><button type="submit" class="f-bu">Создать</button></div>
    </form>

</center>



</div><!-- g-row -->
</div><!-- g -->

{% include "footer.html" %}
